<section class="gallery-section">
    <div class="container">
        <div class="gallery">

            <!-- <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div>

            <div class="photo-card">
                <a href="" class="photo-card__link">
                    <img src="./images/cat.jpg" alt="Cat" loading="lazy" class="photo-card__img" />
                </a>
                <ul class="info">
                    <li class="info-item" title="Likes">
                        <i class="fa-solid fa-heart info-item__img"></i>
                        <p class="info-item__txt">2232</p>
                    </li>
                    <li class="info-item" title="Views">
                        <i class="fa-solid fa-eye info-item__img"></i>
                        <p class="info-item__txt">1085046</p>
                    </li>
                    <li class="info-item" title="Comments">
                        <i class="fa-solid fa-comment info-item__img"></i>
                        <p class="info-item__txt">354</p>
                    </li>
                    <li class="info-item" title="Downloads">
                        <i class="fa-solid fa-cloud-arrow-down info-item__img"></i>
                        <p class="info-item__txt">618650</p>
                    </li>
                </ul>
            </div> -->

        </div>
        <button class="load-btn hidden">
            <i class="load-btn__img fa-solid fa-rotate"></i>
        </button>
    </div>
</section>