<header class="header">
    <div class="container header-container">
        <form class="search-form" id="search-form">
            <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images" class="search-form__input"/>
            <button type="submit" class="search-form__btn" title="Search">
                <svg class="search-form__icon" width="25" height="25">
                    <use href="./images/icons.svg#search-icon"></use>
                </svg>
            </button>
            <button type="button" class="search-form__clear-btn hidden">
                <svg class="search-form__clear-icon" width="12" height="12">
                    <use href="./images/icons.svg#clear-icon"></use>
                </svg>
            </button>
        </form>
    </div>
</header>